<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Juke Bug Tracker</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="module" src="~/js/group.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <header>
        <nav class="navbar-light navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BugTrackerProj</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("CompanyManager"))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Entry" asp-action="HomePage">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" type="submit" asp-area="" asp-controller="Home" asp-action="NewBug">Upload an Issue</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" type="submit" asp-area="" asp-controller="UserList" asp-action="Index">Contact List</a>
                            </li>
                            <li class="nav-item">
                            </li>

                            @if (User.IsInRole("CompanyManager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" type="submit" asp-area="" asp-controller="AdminRole" asp-action="Create">Create New Role</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="AdminRole" asp-action="GetCategories">Categories Control</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="AdminRole" asp-action="GetProjects">Projects Control</a>
                                </li>

                            }
                        </ul>
                        <form method="post">
                            <input class="nav-link btn-danger" type="submit" value="Logout" asp-controller="Home" asp-action="Logout" />
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>
