@model IEnumerable<BugTrackerProj.Data.ApplicationUser>

<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Project Name
            </th>
            <th>
                User
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody class="tablebody">
        @foreach (var user in Model)
        {
          
                <tr>
                    <td>
                        <img src="~/Assets/@user.PhotoPath" width="70" height="70"/>
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                </tr>

        }
    </tbody>
</table>