@model BugTrackerProj.ViewModels.UpdateUserViewModel
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UpdateUser</h1>
<form method="post" style="left:50%;" enctype="multipart/form-data">
    <div>
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text text-danger"></span>
    </div>
    <div>
        <label class="form-label" asp-for="FirstName"></label>
        <textarea class="form-control" asp-for="FirstName"> </textarea>
        <span asp-validation-for="FirstName" class="text text-danger"></span>
    </div>
    <div>
        <label class="form-label" asp-for="LastName"></label>
        <textarea class="form-control" asp-for="LastName"> </textarea>
        <span asp-validation-for="LastName" class="text text-danger"></span>
    </div>
    <div>
        <label class="form-label " asp-for="Photo"></label>
    </div>
    <div>
        <input class="form-control-file " asp-for="Photo"> 
        <span asp-validation-for="Photo" class="text text-danger"></span>
    </div>
        @if (User.IsInRole("CompanyManager"))
        {
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
            </div>
                @Html.DropDownListFor(m => m.ProjectId,
            new List<SelectListItem>(ViewBag.ProjectId), "Select Project ")
        }
    <div>
        <label asp-for="ProjectId"></label>
        <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId"/>
    </div>

    <p>
        <input type="submit" class="btn btn-success" asp-action="UpdateUser" />
    </p>
</form>


