
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BugTrackerProj.ViewModels.LoginViewModel
<!DOCTYPE html>
@{
    ViewData["Title"] = "Login";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <div class="row">
        <div class="col-md-12">

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                    </div>

                </div>
                <button value="Log In" type="submit" class="btn-primary">Login</button>
            </form>

            <p>Doesnt have an account? <a asp-action="Register">Sign In</a></p>
        </div>
    </div>
</body>
</html>
