@model Project
@{
    ViewData["Title"] = "CreateProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Project</h1>
<form method="post">
    <div>
        <label asp-for="ProjectName" class="control-label"></label>
        <input asp-for="ProjectName" class="form-control" />
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Create Project" asp-action="CreateProject" />
    </div>
</form>

