@model BugTrackerProj.ViewModels.UserToRoleRegistraionViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titles">Create</h1>
<form method="post">
    <div>
        <label asp-for="Username" class="control-label"></label>
        @Html.DropDownListFor(m => m.Username, new List<SelectListItem>(ViewBag.Users), "Choose User")
    </div>
    <div>
        <label asp-for="RoleName" class="control-label"></label>
        @Html.DropDownListFor(m => m.RoleName, new List<SelectListItem>(ViewBag.Roles), "Choose Role")
    </div>
    <div>
        <input type="submit" asp-action="Create" />
    </div>



</form>

