@model IEnumerable<BugTrackerProject.Models.Category>

@{
    ViewData["Title"] = "GetCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>
<a type="submit" asp-controller="AdminRole" asp-action="CreateCategory">Create New Category</a>
    @foreach (var category in Model)
    {
        @using (Html.BeginForm("DeleteCategory", "AdminRole", new { id = category.CategoryId }))
        {
            <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CtaegoryName)
                </dt>
                <dd class="col-sm-10">
                    @category.CtaegoryName
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Project.ProjectName)
                </dt>
                <dd class="col-sm-10">
                    @category.Project.ProjectName
                </dd>
            </dl>
        </div>
        <div>
            <input type="submit" value="Delete" class="btn-danger"  />
        </div>
    }
    }
