@model IEnumerable<BugTrackerProject.Models.Project>

@{
    ViewData["Title"] = "GetProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetCategories</h1>

<a type="submit" asp-controller="AdminRole" asp-action="CreateProject">Create New Project</a> />
    @foreach (var project in Model)
    {
        @using (Html.BeginForm("DeleteProject", "AdminRole", new { id = project.ProjectId }))
        {
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </dt>
                    <dd class="col-sm-10">
                        @project.ProjectName
                    </dd>
                </dl>
            </div>
            <div>
                <input type="submit" value="Delete" />
            </div>
        }
    }
