
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BugTrackerProj.ViewModels.MainPageViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <button type="submit" asp-action="Logout">LogOut</button>
    </form>
    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    User
                </th>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bug in Model.Bugs)
            {
                
                    <tr>
                        <td>
                            @bug.Category.CtaegoryName
                        </td>
                        <td>
                            @bug.User.UserName
                        </td>
                        <td>
                            @bug.BugDate
                        </td>
                        <td>
                            @bug.Description
                        </td>
                        <td>
                            <input type="submit" value="Solved" />
                        </td>
                    </tr>
            }
        </tbody>
    </table>



</div>


