@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BugTrackerProj.ViewModels.MainPageViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <button type="submit" asp-action="Logout">LogOut</button>
    </form>
    <form>
        <label asp-for="CategoryId" class="control-label"></label>
        @Html.DropDownListFor(m => m.CategoryId, new List<SelectListItem>(ViewBag.CategoryId), "")
        <input type="submit" asp-action="Index" />
    </form>


   @await Component.InvokeAsync("BugList")



</div>
