@{
    ViewData["Title"] = "Home Page";
    ViewBag.projid = ViewContext.RouteData.Values["id"];
}
@model BugTrackerProj.ViewModels.MainPageViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <button type="submit" asp-action="Logout">LogOut</button>
    </form>
    <form >
        <label asp-for="CategoryId" class="control-label"></label>
        @Html.DropDownListFor(m => m.CategoryId, new List<SelectListItem>(ViewBag.CategoryId), "")
        <input type="submit" asp-action="Index" />
    </form>
       

    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th>
                  Project Name
                </th>
                <th>
                   User
                </th>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead> 
        <tbody>
            @foreach (var bug in Model.Bugs)
            {
                @using (Html.BeginForm("Solved", "Home", new { id = bug.BugId }))
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @bug.User.UserName
                        </td>
                        <td>
                            @bug.BugDate
                        </td>
                        <td>
                            @bug.Description
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="submit" value="Solved" />
                        </td>
                    </tr>

                }
            }
            </tbody>
        </table>

      
  
    </div>
