@model BugTrackerProj.ViewModels.MainPageViewModel
@using BugTrackerProj.ViewComponents
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">

    <h1 class="display-3 ">Welcome @User.Identity.Name</h1>
    <div>
        <small class="display-4">Number of Bugs your team should handle with:</small>
    </div>
    <div style="margin:100px">
        <h3 class="display-4 text-danger font-weight-bolder">@Model.BugCounter</h3>
    </div>

    <form method="post">
        <input type="submit" value="Go See Them Now" class="btn-light" asp-action="Navigate" />
    </form>
</div>




